header {
    background-image: url("https://images.unsplash.com/photo-1571616839329-0b2768e16763?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1648&q=80");
    background-position: center;
    opacity: 0.3;
    height: 200px !important;
    display: flex;
    align-items: center;
}

.h1{
    color: #4CB5AE;
    margin: auto;
    vertical-align: bottom;
    padding-left: 10px;
    opacity: 1;
}



body{
    background-color: #C5D8D1;
}
.content {
    text-align: center;
    margin-top: 1rem;
}

.link{
    color:#404E4D;
    text-decoration: underline;
}

.textinput{
    height: 39px;
    text-transform: uppercase;
    text-align: center;
    color: #4CB5AE;
    position: relative;
    background: none;
    border: 0;
    font-size: 18px;
    font-weight: 400;
}
::placeholder{
    color: #4CB5AE;
}

.btn-outline-dark{
    color:#fff;
    border-color: #4CB5AE;
    height: 38px;
    
}

.graph-container {
    width: 75vw;
    margin:auto;
    padding-bottom: 5%;
    padding-top: 2%;

}

.tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    visibility: hidden;
    background-color: #4CB5AE;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  footer {
    display: flex;
    background-color: #4CB5AE;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-left: 95%;
 }
